@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#FFFFFF;
}

.banner {
  padding-bottom: 1%;
}

.modal-header {
  background: #9B54D5;
  color: #fff;
}

.containerBannerContent {
  padding: 2%;
}


.col-sm-4 {
  padding-top: 2%;
}

.contentLinks {
  padding-right: 10%;
}

.card{
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  width: 400px;
  height: 600px;
  background-color: transparent;
}

.card:hover{
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  cursor: pointer;
}

.button-add {
  width: 150px;
  border: none;
  transition: background .4s linear .2s;
  background: #5EE2F0;
  margin: 0 auto;
}

.button-add:hover {
  background: #9B54D5;
  color: #FFFFFF;
  
}

.button-modal {
  width: 100px;
  border: none;
  transition: background .4s linear .2s;
  background: #5EE2F0;
  margin: 0 auto;
  color: rgb(34, 33, 33);
}

.button-modal:hover {
  background: #9B54D5;
  color: #FFFFFF;
}

.close-button {
  background: #462864;
  color: #FFFFFF;
  transition: background .4s linear .2s;
}

.close-button:hover {
  background: #9B54D5;
  border-radius: 10px;
}

.card-button {
  background: #462864;
  color: #FFFFFF;
  transition: background .4s linear .2s;
  border: none;
  position: relative;
  left: 135px;
}

.card-button:hover {
  background: #9B54D5;
}

.modalgeneral {
  background: transparent;
}
.titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: inherit;
  padding: 50px;
  color: #5ee2f0;
  text-align: center;
  font-size: 10ch;
}

.footer {
  margin-top: 2%;
  padding: 30px;
  width:100%;
  background-color:#9B54D5;
  text-align: justify;
}



.description-names{
  font-size: 16 px;
  font-weight: bold;
  margin-bottom: 30 px;
  color:rgba(253, 253, 253, 0.897);
  text-decoration: none;
  font-weight: 300;
  position: relative;
  display: block;
}

.names {
  font-size: 30 px;
  font-weight: bold;
  margin-bottom: 30 px;
  color:white;
  position: relative;
  text-decoration: none;
}

.names:hover{
  font-size: 30 px;
  font-weight: bold;
  margin-bottom: 30 px;
  color:#462864;
  position: relative;
  
}

.social-links{ 
 display: block;
 position:relative;
 text-align: center;
 height: 40px;
 width: 40px;
 transition: all 0.5s ease;
}

ion-icon{
  position:relative;
  color:white;
  font-size: 40px;    
}

.card-imagem {
  width: 300px;
  height: 300px;
  margin: 0  auto;
  margin-top: 40px;
}

.cards {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  gap: 15px;
}
.modalgeneral input {
  border: none;
  background: rgba(0, 0, 0, 0.089);
}